body {
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  background-color: #CFD8DC;
  background-repeat: no-repeat;
}

.card {
  background-image: url("../public/dpqZJV5.jpg");
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9E9E9E;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeAndSlide 1s forwards, vibration 2s infinite alternate; /* Apply animations */
  transition: transform 0.2s ease-in-out; /* Add a transition for smoother effects */
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vibration {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

.time-font {
  font-size: 50px;
}

.sm-font {
  font-size: 18px;
}

.med-font {
  font-size: 28px;
}

.large-font {
  font-size: 60px;
}
/* ---------------------------------------- */

